<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentRepository_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://test1.ekstern-test.nspop.dk:8080/ddsrepository"
                binding="basicHttpBinding" bindingConfiguration="DocumentRepository_Binding"
                contract="WebService.DocumentRepository_PortType" name="DocumentRepository_Port_Soap12" />
        </client>
    </system.serviceModel>
</configuration>